ac-section-18-devops/src/main/mule/ac-section-18-devops.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="6d55f485-9992-466f-a238-54d7a7eb1ab6" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="ac-section-18-devopsFlow" doc:id="a2b75ec5-9e2a-46c2-89be-fe9fa55c23cf" >
		<http:listener doc:name="Listener" doc:id="91838e4f-45e8-4930-b91b-af4a645b18c1" config-ref="HTTP_Listener_config" path="cicd-demo"/>
		<set-payload value="My First CICD demo" doc:name="Set Payload" doc:id="4eef9f94-dae9-44f8-9666-94f159206c26" />
		<logger level="INFO" doc:name="Logger" doc:id="7dc25c66-abc7-4da6-b703-89c524fd084e" message="This is logger1 added "/>
		<logger level="INFO" doc:name="Logger" doc:id="63a8b128-c99e-4cf9-b415-69b5550beaf7" message="at end of flow #[payload]"/>
	</flow>
</mule>
